@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_dashboard.cshtml";
}

<div class="jumbotron">
    <h1>Recipe Managment System</h1>
    <p class="lead">This system is designed for the sale of food products.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Recipe Managment</h2>
        <p>
            This page is for adding, editing, and deleting recipes.
        </p>

    </div>
    <div class="col-md-4">
        <h2>User Managment</h2>
        <p>This page is designed for user management.</p>
       
    </div>
    <div class="col-md-4">
        <h2>Category Managment</h2>
        <p>This page is designed for category management: adding, editing and deleting categories.</p>
       
    </div>
</div>