
@{
    ViewBag.Title = "_dashboard";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Managment System : Dashboard</title>
    <!-- Bootstrap Styles-->
    <link href="~/Scripts/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="~/Scripts/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="~/Scripts/assets/css/custom-styles.css?r=593" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
   <!-- <script type="text/ecmascript" src="../../Scripts/js/jquery.min.js"></script>-->

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Recipe Managment System : Admin Panel</a>
            </div>


        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li><a href="/Ingredients/Index"><i class="fa fa-desktop"></i> Recipe managment</a></li>
                    <li><a href="/Ingredients/Index"><i class="fa fa-desktop"></i> User managment</a></li>
                    <li><a href="/Ingredients/Index"><i class="fa fa-desktop"></i> Categoty managment</a></li>


                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                @RenderBody()
                <div class="row">
                    <div class="col-md-12">


                    </div>
                </div>
                <!-- /. ROW -->
                <footer></footer>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <!-- Metis Menu Js -->
    <script src="~/Scripts/assets/js/jquery.metisMenu.js"></script>
    <!-- Custom Js -->
    <script src="~/Scripts/assets/js/custom-scripts.js"></script>

</body>
</html>
